**/_site
**/.jekyll-cache
**/.jekyll-metadata
**/vendor
**/*.lock
**/.sass-cache
**/node_modules
**/package-lock.json
**/.pug-cache
**/_build
**/dist

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Editor directories and files
**/.idea
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/.DS_Store
**/node_modules
**/ecosystem.config.js
