doctype
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    title {{ page.title }}
    meta(name="description" content="{{ page.title }} - {{ page.description }} {{ site.description }}")
    link(rel="stylesheet", href="{{ 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' }}")
    link(rel="stylesheet", href="{{ '/assets/css/main.css' | relative_url }}")
    | {% for style in page.styles %}
    link(rel="stylesheet", href="{{ style | relative_url }}")
    | {% endfor %}
  body
    header
      .logo
        a(href="/" title="{{ site.title }}") {% include glitch.pug text="bulch" %}
      nav
        ul
          li
            a(href="/works") works
    .wrapper {{content}}
    footer
      div 
        p Сайт создан с помощью <a href="https://jekyllrb.com/" target="_blank" title="Jekyll">Jekyll</a> и <a href="https://pages.github.com/" target="_blank" title="GitHub Pages">GitHub Pages</a>. Весь код размещён на <a href="{{ site.github_page }}" target="_blank" title="Github bulch">Github</a>
      div.tags
        ul
          | {% for contact in site.data.contacts %}
          li
            a(href="{{ contact.url }}", title="{{ contacts.description }}", target="_blank") {{ contact.name }}
          | {% endfor %}
    | {% for script in page.scripts %}
    script(src="{{ script | relative_url }}")
    | {% endfor %}
