---
---
@import "base";

:root {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $backgrond;
  }
}

a {
  color: $blue;
  text-decoration: none;
  font-family: monospace;
  &:hover {
    color: lighten($blue, 10%);
    text-decoration: underline;
  }
}

.logo {
  a {
    text-decoration: none;
    color: white;
    font-size: 42px;
    &:hover {
      color: darken($color: $backgrond, $amount: 5);
      cursor: pointer;
    }
  }
}
.wrapper {
  margin: auto 2%;
}