---
---
@use "sass:color";
@import "base";

:root {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background: $backgrond;
  }
}

a {
  color: $green;
  text-decoration: none;
  font-family: monospace;
  &:hover {
    color: color.adjust($blue, $lightness: 10%);
    text-decoration: underline;
  }
}

.logo {
  a {
    text-decoration: none;
    color: $white;
    font-size: 42px;
    &:hover {
      color: color.adjust($color: $backgrond, $lightness: -5%);
      cursor: pointer;
    }
  }
}
.wrapper {
  margin: auto 2%;
}
body {
  margin: 1%;
}

.tags {
  &--footer {
    ul {
      li {
        a {
          color: $white;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}