@use "sass:color";

$max-card-description-line: 3;
// Colors
// $orange - global src/_sass/_variables.scss
$title-text: color.adjust($orange, $lightness: 10%);

// $comments - global src/_sass/_variables.scss
$description-text: $comments;
// $yellow - global src/_sass/_variables.scss
$tag-text: color.adjust($yellow, $lightness: 10%);
// $backgrond - global src/_sass/_variables.scss
$card-background: color.adjust($backgrond, $lightness: 8%);

.title {
  color: $title-text;
  font-family: sans-serif;
  text-transform: uppercase;
  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
  &:hover {
    color: color.adjust($title-text, $lightness: 3%);
  }
}
.description {
  color: $description-text;
  &:hover {
    color: color.adjust($description-text, $lightness: 3%);
  }
}
.tags {
  color: $tag-text;
  ul {
    li {
      color: color.adjust($tag-text, $lightness: 5%);
      background: color.adjust($card-background, $lightness: -5%);
      &:hover {
        color: color.adjust($tag-text, $lightness: 2%);
        background: color.adjust($card-background,  $lightness: -2%);
      }
    }
  }
  &--footer {
    ul {
      li {
        color: transparent;
        background: transparent;
        &:hover {
          color: transparent;
          background: transparent;
        }
        a {
          color: color.adjust($tag-text, $lightness: 5%);
          background: color.adjust($card-background, $lightness: -5%);
          &:hover {
            color: color.adjust($tag-text, $lightness: 2%);
            background: color.adjust($card-background,  $lightness: -2%);
          }
        }
      }
    }
  }
}
.card {
  background-color: transparent;
  padding: 15px;
  &:hover {
    .wrapper {
      background: color.adjust($card-background, $lightness: 3%);
    }
  }
  .wrapper {
    background-color: $card-background;
  }
}

.background-card {
  background-color: color.adjust($card-background, $lightness: 3%);
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  transform-origin: center;
  top:0;
  left: 0;
  opacity: 0;
}

// Display
.card-grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
	padding: 0;
  margin: 0;
  grid-template-columns: repeat(5, 1fr);
  @media (max-width: $screen-xl) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: $screen-lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $screen-md) {
    grid-template-columns: auto;
  }
}
.card {
  z-index: 2;
	.wrapper {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $max-card-description-line;
      overflow: hidden;
    }
    .date {
      span {
        text-transform: uppercase;
        font-family: monospace;
        font-size: small;
      }
    }
  }
}
.tags {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 5px;
      padding: 5px 10px;
      text-align: center;
      font-size: small;
    }
  }
  &--footer {
    ul {
      li {
        // margin: auto;
        // padding: auto;
        a {
          padding: 5px 10px;
          text-align: center;
          font-size: small;
        }
      }
    }
  }
}
