$max-card-description-line: 3;
// Colors
// $orange - global src/_sass/_variables.scss
$title-text: lighten($orange, 10%);
// $comments - global src/_sass/_variables.scss
$description-text: $comments;
// $yellow - global src/_sass/_variables.scss
$tag-text: lighten($yellow, 10%);
// $backgrond - global src/_sass/_variables.scss
$card-background: lighten($backgrond, 8%);

.title {
  color: $title-text;
  font-family: sans-serif;
  text-transform: uppercase;
  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
  &:hover {
    color: lighten($title-text, 3%);
  }
}
.description {
  color: $description-text;
  &:hover {
    color: lighten($description-text, 3%);
  }
}
.tags {
  color: $tag-text;
  ul {
    li {
      color: lighten($tag-text, 5%);
      background: darken($card-background, 5%);
      &:hover {
        color: lighten($tag-text, 2%);
        background: darken($card-background, 2%);
      }
    }
  }
}
.card {
  background-color: $card-background;
  &:hover {
		background: lighten($card-background, 3%);
	}
}

// Display
.card-grid {
  display: grid;
 	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
	padding: 0;
  margin: 20px;
}
.card {
	display: flex;
  justify-content: start;
	align-items: flex-start;
	flex-direction: column;
  padding: 20px;
  margin: 0;
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $max-card-description-line;
    overflow: hidden;
  }
  .date {
    span {
      text-transform: uppercase;
      font-family: monospace;
      font-size: small;
    }
  }
}
.tags {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 5px;
      padding: 5px 10px;
      text-align: center;
      font-size: small;
    }
  }
}
