---
layout: page
styles: 
  - /pens/test/style.css
scripts: 
  - https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.9/dat.gui.min.js
  - /pens/test/script.js
---
.wapper
  input(type='file', style='display: none')#addFile
  input(type='text' style='display: none')#addUrlFile
  .loading Loading&#8230;
  .container