---
layout: blank
title: My Blog
permalink: /test
---
collections:
{{ site.collections | where: "label", "works" | first }}
<br>
site:
{% for s in site %}
<span>{{ s }}, </span>
{% endfor %}
<br>

collections:
{% for  c in  site.collections %}
<span>{{ c }}, </span>
<span>{{ c.label }}, </span>
<span>{{ c.name }}, </span>
<span>{{ c.permalink }}, </span>
{% endfor %}
<br>
posts:
<ul class="two">
  {% for p in site.posts %}
  <h1>{{ p }} </h1>
    <li>
      <a href="{{ p.url }}">{{ p.title }}</a>
    </li>
  {% endfor %}
</ul>
works:
<ul class="card-grid">
  {%- assign works = site.works | sort: 'date' | reverse -%}
  {% for w in works %}
    {% include card.pug title=w.title description=w.excerpt tags=w.tags url=w.url date=w.date %}
  {% endfor %}
</ul>

all tags uniq:
{% assign tags = site.works | map: 'tags' | uniq %}
<ul class="two">
  {% for t in tags %}
    <li>{{ t }}</li>
  {% endfor %}
</ul> 

pen:
{% comment %} {% assign pens = site.pens | sort: 'name' | uniq %}
<ul class="card-grid">
  {% for p in pens %}
  {{ p }}
    {% include card.pug title=p.title description=p.excerpt tags=p.tags url=p.url date=p.date %}
  {% endfor %}
</ul> {% endcomment %}
{% comment %} <pre class="two">
  11
  {% for pen in pens %}
    <code>{{ pen }}</code>
    permalink:     <code>{{ pen.permalink }}</code>
    title: <code> {{ pen.title }}</code>
    url: <code> {{ pen.url }}</code>
    name: <code> {{ pen.name }}</code>
    position: <code> {{ pen.position }}</code>
  {% endfor %}
  22
</pre> {% endcomment %}
